header{
    height:60%;
    background-image: url(/img/daftpunk-0128.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
nav{
    height: 8%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
nav a{
    color: aquamarine;
    text-shadow: 0 0 5px blue;
    font-size: 22px;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    height: 10%;
    width: 100%;
    text-align:center;
}
.cont_logo{
    width: 50%;
    margin: auto;
    display: grid;
    justify-items: center;

}
header h1{
    height:20vh;}
header h1 img{
    height: 100%;
}
header button{
    margin-left: 20px;
    background-color: black;
    color: antiquewhite;
    font-size: 15px;
    font-family:cursive;
}
.play{
    color: aqua;
    background-color: aqua;
    height: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}
main{
   
    flex-direction: column;
    justify-content: center;
}
h2{
    text-align: center;
    justify-content: center;
    font-size: 40px;
}
.tabla{
    height: 80%;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
table, td{
    border-bottom: 2px solid black;
    border-collapse: collapse;
}


.content_tabla{
    text-align: center;
    border-bottom: 6px solid black;
}
.boletos{
    border-radius: 10% ;
    border-style: groove;
    background-color: rgb(74, 74, 240);
    color: azure;
}
.lista_musica{
    height: 40vh;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
footer{
    height: 20vh;
    display: flex;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr1;
    justify-content: space-around;
    align-items: center;
    
}
footer img{
    height: 3em;
}
.enlaces{
    height: 3em;
    background-color: white;
    display: flex;
    align-content: space-between;
}